.cover-container {
  height: 70%;

  .parallax {
    /* The image used */
    background-image: url("../assets/zohan-bg.jpg");
  }
}

.checked {
  color: orange;
}

iframe {
  width: 100%;
  border-radius: 20px;
  height: 50%;
  display: inline-block;
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
